/* General Body & Font Styles */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fdf6e4;
    color: #1f2937;
}

/* Add padding to the top of the main content area to prevent it from being hidden by the fixed header */
main {
    padding-top: 35px; /* Adjust this value to match your header's height */
}

.container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0rem;
    padding-right: 0rem;
    
}

/* Main Content & Page Styles */
.page-content {
    padding-top: .2rem;
    padding-bottom: 2rem;
}

.page-title {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.loading-message, .error-message {
    text-align: center;
    padding: 2.5rem;
    font-size: 1.125rem;
}

.error-message {
    color: #ef4444;
}

/* Footer (assuming you will create a Footer.js component) */
.footer {
    background-color: white;
    margin-top: 3rem;
    padding: 1rem 0;
    text-align: center;
    color: #4b5563;
}
